# Kaggle datasets for [Santander Customer Satisfaction](https://www.kaggle.com/c/santander-customer-satisfaction) research

In [12]:
import pandas as pd

## Train dataset

In [13]:
df_train = pd.read_csv("data/train.csv")
print df_train.head()

   ID  var3  var15  imp_ent_var16_ult1  imp_op_var39_comer_ult1  \
0   1     2     23                   0                        0
1   3     2     34                   0                        0
2   4     2     23                   0                        0
3   8     2     37                   0                      195
4  10     2     39                   0                        0

   imp_op_var39_comer_ult3  imp_op_var40_comer_ult1  imp_op_var40_comer_ult3  \
0                        0                        0                        0
1                        0                        0                        0
2                        0                        0                        0
3                      195                        0                        0
4                        0                        0                        0

   imp_op_var40_efect_ult1  imp_op_var40_efect_ult3   ...    \
0                        0                        0   ...
1                        0                        0   ...
2                        0                        0   ...
3                        0                        0   ...
4                        0                        0   ...

   saldo_medio_var33_hace2  saldo_medio_var33_hace3  saldo_medio_var33_ult1  \
0                        0                        0                       0
1                        0                        0                       0
2                        0                        0                       0
3                        0                        0                       0
4                        0                        0                       0

   saldo_medio_var33_ult3  saldo_medio_var44_hace2  saldo_medio_var44_hace3  \
0                       0                        0                        0
1                       0                        0                        0
2                       0                        0                        0
3                       0                        0                        0
4                       0                        0                        0

   saldo_medio_var44_ult1  saldo_medio_var44_ult3          var38  TARGET
0                       0                       0   39205.170000       0
1                       0                       0   49278.030000       0
2                       0                       0   67333.770000       0
3                       0                       0   64007.970000       0
4                       0                       0  117310.979016       0

[5 rows x 371 columns]

In [14]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76020 entries, 0 to 76019
Columns: 371 entries, ID to TARGET
dtypes: float64(111), int64(260)
memory usage: 215.8 MB

## Test dataset

In [15]:
df_test = pd.read_csv("data/test.csv")
print df_test.head()

   ID  var3  var15  imp_ent_var16_ult1  imp_op_var39_comer_ult1  \
0   2     2     32                   0                        0
1   5     2     35                   0                        0
2   6     2     23                   0                        0
3   7     2     24                   0                        0
4   9     2     23                   0                        0

   imp_op_var39_comer_ult3  imp_op_var40_comer_ult1  imp_op_var40_comer_ult3  \
0                        0                        0                        0
1                        0                        0                        0
2                        0                        0                        0
3                        0                        0                        0
4                        0                        0                        0

   imp_op_var40_efect_ult1  imp_op_var40_efect_ult3    ...      \
0                        0                        0    ...
1                        0                        0    ...
2                        0                        0    ...
3                        0                        0    ...
4                        0                        0    ...

   saldo_medio_var29_ult3  saldo_medio_var33_hace2  saldo_medio_var33_hace3  \
0                       0                        0                        0
1                       0                        0                        0
2                       0                        0                        0
3                       0                        0                        0
4                       0                        0                        0

   saldo_medio_var33_ult1  saldo_medio_var33_ult3  saldo_medio_var44_hace2  \
0                       0                       0                        0
1                       0                       0                        0
2                       0                       0                        0
3                       0                       0                        0
4                       0                       0                        0

   saldo_medio_var44_hace3  saldo_medio_var44_ult1  saldo_medio_var44_ult3  \
0                        0                       0                       0
1                        0                       0                       0
2                        0                       0                       0
3                        0                       0                       0
4                        0                       0                       0

       var38
0   40532.10
1   45486.72
2   46993.95
3  187898.61
4   73649.73

[5 rows x 370 columns]

In [16]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75818 entries, 0 to 75817
Columns: 370 entries, ID to var38
dtypes: float64(110), int64(260)
memory usage: 214.6 MB